<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596918623097-diik71d1rbp49fbobb1vig5aknnh2e99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596918623097-diik71d1rbp49fbobb1vig5aknnh2e99</string>
	<key>API_KEY</key>
	<string>AIzaSyC3ZnIJhLks6LoptsZIV7-BMpllt3XFviw</string>
	<key>GCM_SENDER_ID</key>
	<string>596918623097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Class-Notes.GuessTheNumber</string>
	<key>PROJECT_ID</key>
	<string>map-project1-3db28</string>
	<key>STORAGE_BUCKET</key>
	<string>map-project1-3db28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596918623097:ios:c57c984d4e295efd19eda8</string>
	<key>DATABASE_URL</key>
	<string>https://map-project1-3db28.firebaseio.com</string>
</dict>
</plist>